{
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "arrowParens": "always",
    "quoteProps": "preserve",
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "bracketSpacing": true
}
